.start-img{
  width: 50px;
  display: flex;
}
.start-img .MuiSvgIcon-root:hover{
  color: black;
  cursor: pointer;
}
.star:hover .MuiSvgIcon-root {
  color: gold; /* Change to your desired color */
}
.orange{
  color: gold;
}